nvim/pack/
nvim/bundle/
nvim/sessions/
nvim/undofiles/
nvim/parsers/
nvim/plugin/
ranger/bookmarks
ranger/history
ranger/tagged
nvim/.netrwhist
*.o
*.hi
*.errors
xmonad/xmonad-x86_64-linux
nvim/.init.vim-rplugin~
cmus/autosave
cmus/cache
cmus/command-history
cmus/lib.pl
cmus/playlist.pl
cmus/search-history
taffybar/taffybar
__pycache__
xmonad/xmonad.state
qutebrowser/autoconfig.yml
result
qtile/config.pyc
pulse/*
!pulse/daemon.conf
aria2/input.conf
nixos/hardware-configuration.nix
nvim/luacache_chunks
nvim/luacache_modpaths
lazygit/state.yml
.direnv
flake.lock
