nvim/bundle/
nvim/sessions/
nvim/undofiles/
ranger/bookmarks
ranger/history
ranger/tagged
nvim/.netrwhist
*.o
*.hi
*.errors
xmonad/xmonad-x86_64-linux
nvim/.init.vim-rplugin~
cmus/autosave
cmus/cache
cmus/command-history
cmus/lib.pl
cmus/playlist.pl
cmus/search-history
taffybar/taffybar
__pycache__
xmonad/xmonad.state
qutebrowser/autoconfig.yml